@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* universal styles */
*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

main {
  border: 2px solid red;
  max-width: 1140px;
  margin: 50px auto;
  
}

/* common styles start */
.btn{
  padding: 6px;
  border: 1px solid gainsboro;
  text-decoration: none;
  font-size: 18px;
  color: #0D1321;
}

/* common styles end */


/* header nav styles */
header nav{
  /* border: 1px solid magenta; */
  max-width: 1140px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
header nav h3{
  font-size: 28px;
  font-weight: 900;

}
header nav a{
  padding: 10px;
  border: 1px solid gainsboro;
  border-radius: 8px;
  text-decoration: none;
  font-size: 20px;
  color: #0D1321;
}

/* header-banner styles */
.header-banner-section{
  width: 100%;
  background-image: url("../assets/banner-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover  ;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 26px;
  padding-bottom: 44px;
  margin-bottom: 25px;
  
}
.banner-container{
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  text-align: center;
}

.banner-title{
  font-weight: 900;
  line-height: 48px;
}
.banner-desc{
  color: #0D1321;
  line-height: 26px;
}
.banner-btn a{
  padding: 10px;
  background-color: #0D1321;
  border-radius: 8px;
  text-decoration: none;
  font-size: 18px;
  color: #FFFFFF;
  font-weight: 500;
  word-spacing: -5px;
}

/* QA section styles */
.QA-section{
  max-width: 946px;
  margin: 30px auto;
  padding-bottom: 18px;
  background-color: rgb(250, 250, 251);

}
.QA-section .QA-container{
  margin: 48px;
}

.QA-container .QA-container-heading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  margin-bottom: 48px;
}
.QA-container-heading h2{
  font-size: 32px;
  font-weight: 900;
}

.QA-container-heading p{
  line-height: 26px;
}

/* QA-columns style */
.QA-column-container{

}

.QA-column{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin: 32px 0px;
  border-radius: 8px;
  background-color: #FFFFFF;
  padding: 26px;
}
/* .QA-column-2{

} */

.column-contents{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;

}
.column-contents h3{
  color: #0D1321;
  opacity: 0.7;
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;

}

.column-contents p{
  color: #0D1321;
  opacity: 0.9;
  line-height: 26px;

}
.column-img{

}
