@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* universal styles */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

main > section {
  max-width: 80%;
  margin: 50px auto;
}

/* common styles start */
.btn {
  padding: 6px;
  border: 1px solid gainsboro;
  text-decoration: none;
  font-size: 18px;
  color: #0D1321;
}
.margin-x-20{
  margin-top: 20px;
  margin-bottom: 20px;
}
.margin-t-20{
  margin-top: 20px;
}
.margin-b-20{
  margin-bottom: 20px;
}
.margin-t-15{
  margin-top: 15px;
}
.margin-b-15{
  margin-bottom: 15px;
}
.padding-x-20{
  padding-top: 20px;
  padding-bottom: 20px;
}
.padding-x-15{
  padding-top: 15px;
  padding-bottom: 15px;
}
.padding-t-15{
  padding-top: 15px;
}
.padding-b-15{
  padding-bottom: 15px;
}
/* common styles end */

.heading-style {
  max-width: 852px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  margin-bottom: 48px;
}


.heading-style h2 {
  font-size: 32px;
  font-weight: 900;
}

.heading-style p {
  line-height: 26px;
}

/* header nav styles */
header nav {
  max-width: 80%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

header nav h3 {
  font-size: 28px;
  font-weight: 900;

}
header nav a {
  padding: 10px;
  border: 1px solid gainsboro;
  border-radius: 8px;
  text-decoration: none;
  font-size: 20px;
  color: #0D1321;
}
/* header-banner styles */
.header-banner-section {
  width: 100%;
  background-image: url("../assets/banner-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 26px;
  padding-bottom: 44px;
  margin-bottom: 25px;
}
.banner-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  text-align: center;
}

.banner-title {
  font-size: 3rem;
  font-weight: 900;
  line-height: 4.2rem;
}

.banner-desc {
  color: #0D1321;
  line-height: 26px;
}

.banner-btn a {
  padding: 10px;
  background-color: #0D1321;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1.125rem;
  color: #FFFFFF;
  font-weight: 500;
  word-spacing: -5px;
}

/* QA section styles */
.QA-section {
  margin: 50px auto;
  padding: 10px 0px;
  background-color: rgb(250, 250, 251);
}
.QA-section .QA-container {
  margin: 48px; 
}
/* QA-columns style */
.QA-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin: 32px 0px;
  border-radius: 8px;
  background-color: #FFFFFF;
  padding: 26px;
  box-shadow: 5px 5px 25px gainsboro;
}
.column-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
.column-contents h3 {
  color: #0D1321;
  opacity: 0.7;
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
}
.column-contents >p{
  color: #000000;
  opacity: 0.9;
  line-height: 26px;

}
/* Inspiration section styles */
.inspiration-section {
  margin-top: 120px;
  margin-bottom: 120px;
}

.inspiration-video-container {
  border: 1px solid rgba(126, 126, 126, 0.342);
  border-radius: 12px;
  padding: 24px;
}
.inspiration-video {
  border-radius: 12px;
}
/* Target section styles */
.target-container {
  margin-top: 30px;
  margin-bottom: 50px;
}
.target-contents {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 24px;
}
.target-card {
  height: 360px;
  padding: 32px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.html-card {
  background-color: #ff4b1e2f;
}

.css-card {
  background-color: #004de82d;
}

.js-card {
  background-color: hsla(52, 100%, 50%, 0.173);
}

.target-card h2 {
  font-size: 24px;

  color: #0D1321;
}

.target-card p {
  font-size: 16px;
  color: #0d13219a;
  line-height: 24px;
}

.card-btn a {
  font-size: 16px;
  font-weight: 700;
  color: #0d1321;
}

/* Next target section style*/
.next-target-card{
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 30px 25px;
  border: 1px solid gainsboro;
  border-radius: 15px;
}

/* contact us section styles */
.contact-container {
  background-image: url("../assets/contact-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 12px;
  padding: 54px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-contents {
  max-width: 60%;
  text-align: center;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.contact-contents h3 {
  color: #FFFFFF;
  font-size: 34px;
  font-weight: bold;
}
.contact-contents p {
  color: rgb(142, 140, 139);
  font-size: 16px;
  line-height: 26px;
}
.input-submit-part input[type="text"] {
  padding: 20px;
  width: 45vw;
  border-radius: 8px;
  border: none;
  font-size: 14px;
  word-spacing: 2px;
}
.input-submit-part input[type="submit"] {
  padding: 20px 24px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
}
/* contact us section styles end*/

/* footer styles start */
.footer-container{
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.03);
  padding: 28px 150px 28px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
/* footer styles end */
.hide{
  display: none;
}